* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.register-icon {
  font-size: 120px;
}

.user-form input {
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
}
.user-form input:focus {
  outline: none;
}

header {
  background-color: #27045b;
  /* background-image: linear-gradient(to right, #6fb2fc, #0052d4); */
  color: white;
}
header a {
  color: white;
}

header li {
  font-size: 1.2rem;
}

.category {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}
.category option {
  background-color: rgb(71, 69, 69);
}
.category:focus {
  outline: none;
}
.admin {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}
.admin:focus {
  outline: none;
}
.admin option {
  background-color: rgb(43, 42, 42);
}

.admin-dropdown {
  color: white;
}
.search-form {
  position: relative;
}
.search-form input {
  font-size: 1.2rem;
}
.search-icon {
  position: absolute;
  top: 10px;
  right: 20px;
}

.item-date {
  color: gray;
  font-size: 0.9rem;
}

.item-card {
  max-height: 300px;
  max-width: 280px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 5px 5px 5px #dadada, 5px 5px 5px #dadada;
}
.item-card:hover .card-img {
  transform: scale(1.3);
}

.card-img {
  transition: all 0.3s;
  height: 200px;
}
.slider-img {
  max-height: 290px;
}

/* pagination */
/* styles.css */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin-right: 5px;
}

.pagination li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
}
.detail-img {
  transition: all 0.5s;
  max-width: 400px;
}
.detail-img:hover {
  transform: scale(1.2);
}

.slider-container {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 5px 5px 5px #dadada, 5px 5px 5px #dadada;
  /* background-image: linear-gradient(to right, #6fb2fc, #0052d4); */
}
.select-form {
  border: 1px solid black;
  padding: 7px;
  border-radius: 5px;
}
.select-form:focus {
  outline: none;
}
.dashboard {
  min-height: 100vh;
  
}
.sidebar {
  font-size: 1.2rem;
  padding-top: 20px;
  min-height: 100vh;
  
}
.admin-containers {
  position: relative;
}

.sidebar div {
  margin: 10px;
  cursor: pointer;
}
.sidebar div a {
  color: black;
}
.scroll-auto {
  overflow-x: scroll;
}
footer {
  background-color: #27045b;
}
.active {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}
.dashboard-item-card {
  width: 150px;
  border: 1px solid gray;
  padding: 20px;
  margin: 20px 0;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.dashboard-item-card span {
  margin-right: 25px;
}
.dashboard-item-card:hover {
  transform: scale(1.2);
}
.dashboard-cards-container {
  display: flex;
  gap: 15px;
}
.dashboard-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding: 30px;
  font-size: 1.5rem;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.dashboard-cards:hover {
  transform: scale(0.9);
}
.section {
  height: 100vh;
}
.d-cart {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.overflow-hidden {
  overflow: hidden;
}

@media (max-width: 950px) {
  .sidebar-text {
    display: none;
  }
 
}

@media (max-width: 600px) {
  .header form {
    display: none;
  }
  .dashboard-cards {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 5px;
    font-size: 1rem;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
  }
}
@media (max-width: 800px) {
  .detail-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


/* Print-specific styles for the table */
@media print {
  body * {
    visibility: hidden;
  }
  #t-body {
   
    display: none;
  }
  #printable-table,
  #printable-table * {
    visibility: visible;
  }
  #printable-table {
    width: 100%;
    border-collapse: collapse;
  }

  #printable-table th {
    background-color: #f2f2f2;
    color: #000;
    font-weight: bold;
  }
}
